.u-section-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  min-height: 729px;
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 399px;
  height: 218px;
  margin: 0 55px 0 70px;
}

.u-section-1 .u-form-1 {
  margin: 39px auto 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 53px;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 175px;
    margin-top: 52px;
    margin-right: 0;
    margin-left: 0;
  }
}